/*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

body {
    background: url(https://get.pxhere.com/photo/hand-white-travel-color-material-map-close-up-art-pins-shape-depth-of-field-markings-headpins-1267892.jpg)no-repeat center center fixed;
    background-size:cover;
    width:100%;
    
}

header {
    background-color:grey;
    
}

.navbar {
    margin-left: auto;
    margin-right: auto;
    width:90%;
    top: 0;
}

.logo {
    width:100px;
    display: inline-block;
}

nav ul {
    float: right;
    display: inline-block;
    margin-top:15px;

}

nav li {
    display: inline-block;
    margin-left:15px;
    font-family: 'Lobster', cursive;
    font-size:1.6rem;

}


.introInfo-container {
    padding-top:100px;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

h1 {
    text-align: center;
    font-size:2.5rem;
    font-family: 'Lobster', cursive;
}

.intro-section p {
    text-align: center;
    font-size:1.5rem;
    margin-left: auto;
    margin-right: auto;
    width:75%;
}

.intro-detail-section {
    padding-top:150px;
}

.country-box, .expore-box, .watch-box {
    margin-left: auto;
    margin-right: auto;
    width:75%;
    border-bottom:1px solid grey;
    display:block;
    font-size: 1.8rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom:15px;
}

.info-country-left, .info-watch-left, .pic-expore-left {
   display:inline-block;
   width:49%;
   vertical-align: middle;
}
    


.pic-country-right, .info-expore-right, .pic-watch-right {
   display:inline-block;
   width:49%; 
   vertical-align: middle;  
}


.country-box img, .expore-box img, .watch-box img {
    width:100%;
    border-radius: 15px;
}

.result-section {
    margin-left: auto;
    margin-right: auto;
    width:75%;
    border-bottom:1px solid grey;
    display:block;
    font-size: 1.8rem;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top:100px;
}


.country-flag {
    width:49%;
    border-radius: 15px;
}

.result-section h2 {
    padding-top:60px;
    padding-bottom:60px;
    text-align: center;
    font-size:2rem;
}

.info-box, .video-box {
    display:inline-block;
    width:49%; 
    vertical-align: middle;  
 }

.return-section {
    text-align: center;
    font-size:1.8rem;
    padding-top:50px;

}

button, input, select{
    font-family: 'Lobster', cursive;
    border:1px solid grey;
    border-radius: 5px;
    padding:5px 10px;
    font-size: 20px;

}

footer {
    margin-top: 50px;
}





.form-section {
    padding-top:75px;

}

.search-form {
    text-align: center;
}



footer {
    background-color: lightgray;
}

.copyright p {
    text-align: center;
    
}

.contact-info ul {
    text-align: center;
}

.contact-info li {
    display: inline-block;
    margin-left:15px;
}
/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/


/* -------------------------------------
place all the desktop styles above this line

Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)

place all the mobile tables styles below this line
*/